body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 15px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
